import init.bcm21553.fs.rc
import init.bcm21553.gps.rc
import init.bcm21553.sensors.rc
import init.bcm21553.usb.rc
import init.bcm21553.wifi.rc

on init

    # sdcard
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root

    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard
    export EXTERNAL_STORAGE /storage/sdcard0

    # sd-ext
    mkdir /sd-ext 0771 system system
    export SD_EXT_DIRECTORY /sd-ext

on fs

# mount device partitions
    mount_all /fstab.bcm21553

    # download cache
    mkdir /data/download 0770 system cache

    chown root system /dev/mmc328x
    chown root system /dev/ecompass_ctrl
    chown root system /dev/bma222
    chown root system /dev/proximity
    
    chmod 0660 /dev/mmc328x
    chmod 0660 /dev/ecompass_ctrl
    chmod 0660 /dev/bma222
    chmod 0660 /dev/proximity

    chown system system /sys/class/input/input0/enable
    chown system system /sys/class/input/input0/poll_delay
    chmod 0660 /sys/class/input/input0/enable
    chmod 0660 /sys/class/input/input0/poll_delay

    chown system system /sys/class/backlight/aat1401-backlight/brightness
    chown system system /sys/class/backlight/pwm-keypad-backlight.0/brightness

    chmod 0777 /dev/bcm_kril
    chmod 0777 /dev/bcm_vsp
    chmod 0660 /dev/bcm_atc
    chown system system /dev/bcm_kpdp
    chown shell system /dev/bcm_atc
    chmod 0660 /dev/bcm_alsa_voip
    chown radio system /dev/bcm_alsa_voip
    chmod 0666 /dev/v3d

    chmod 0777 /dev/camera
    chown system system /sys/bcm/cache
    chmod 0771 /dev/ttyGS0
    chown system system /dev/ttyGS0
    chown system system /dev/ttyS0

    chown system system /sys/module/bcm215xx_pm/parameters/debug

# permisssion for cacheops
    chmod 0666 /dev/cache-ops
    
# for bluetooth. change access rights as btld runs as bluetooth user
    chown root bluetooth /dev/ttyS1
    chmod 0660 /dev/ttyS1
    chown root bluetooth /sys/class/rfkill/rfkill0
    chown root bluetooth /sys/class/rfkill/rfkill0/state
    chown root bluetooth /sys/class/rfkill/rfkill0/claim
    chown root bluetooth /sys/class/rfkill/rfkill0/soft
    chmod 0664 /sys/class/rfkill/rfkill0/state
    chmod 0664 /sys/class/rfkill/rfkill0/claim
    chmod 0664 /sys/class/rfkill/rfkill0/soft
    chown root bluetooth /sys/class/sound/controlC0/FMDirectPlay
    chmod 0664 /sys/class/sound/controlC0/FMDirectPlay
    chown root net_bt_admin /sys/devices/system/cpu/cpufreq/bcm21553/dvfs
    chmod 0664 /sys/devices/system/cpu/cpufreq/bcm21553/dvfs
    chmod 0777 /dev/pmem_adsp

# bcm audio loopback test mode.
    chmod 0666 /dev/bcm_alsa_pcg
    chmod 0666 /dev/bcm_log
    chmod 0666 /dev/bcm_audio_log

# Force Power Down
    chmod 0660 /sys/class/sec/pm/power_down
    chown root system /sys/class/sec/pm/power_down

# CPU Governor
    chmod 0660 /sys/class/sec/cpu/cpu_gov
    chown root system /sys/class/sec/cpu/cpu_gov
    
# Sensors permissions

# proximity
    chown system input /sys/class/input/input0/enable
    chown system input /sys/class/input/input0/delay
    chown system input /sys/class/input/input0/wake

# accelerometer
    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/delay
    chown system input /sys/class/input/input3/wake

# geomagnetic
    chown system input /sys/class/input/input1/enable
    chown system input /sys/class/input/input1/delay
    chown system input /sys/class/input/input1/wake

# geomagnetic_raw
    chown compass input /sys/class/input/input2/offsets

# orientation
    chown system input /sys/class/input/input4/enable
    chown system input /sys/class/input/input4/delay
    chown system input /sys/class/input/input4/wake

# waketime CSP461560
    chown radio system /sys/module/bcm_fuse_net/parameters/pdp_waketime

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    disabled
    oneshot

on property:init.svc.bootanim=running
    start bdaddr

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service get_macaddrs /system/bin/get_macaddrs
    class main
    user root
    oneshot

# Accelerometer Service
service memsicd /system/bin/memsicd
    user system
    group system    
    oneshot

service charging /system/bin/playlpm
    class charger

service lpmkey /system/bin/charging_mode
    class charger
    user root
    oneshot
