on property:sys.usb.config=none
    exec /system/bin/netcfg usb0 down
    write /proc/brcm_switch 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb
    start adbd
    write /proc/brcm_switch 2
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    start adbd
    write /proc/brcm_switch 2
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
    exec /system/bin/netcfg usb0 up
    write /proc/brcm_switch 3
    setprop sys.usb.state ${sys.usb.config}

# note: the legacy usb stack can't enumerate rndis with adb, so we don't try to enable adb
on property:sys.usb.config=rndis,adb
    exec /system/bin/netcfg usb0 up
    write /proc/brcm_switch 3
    setprop sys.usb.state ${sys.usb.config}


