on init

# gps config (workaround)
    symlink /system/etc/gps.conf /etc/gps.conf

on boot

    write /sys/class/gpio/export 23
    write /sys/class/gpio/export 56

    chown gps system /sys/class/gpio/export
    chown gps system /sys/class/gpio/gpio23/value
    chown gps system /sys/class/gpio/gpio23/direction
    chown gps system /sys/class/gpio/gpio56/value
    chown gps system /sys/class/gpio/gpio56/direction

    chown gps system /data/gps/glgpsctrl

# define broadcom gps properties
    setprop gps.fd.block "false"

service gpsd /system/bin/glgps -c /system/etc/gps/glconfig4751.xml
    class main
    user gps
    group system sdcard_rw inet net_raw

on property:init.svc.bootanim=running
    stop ril-daemon

on property:init.svc.bootanim=stopped
    chmod 0777 /data/lcs.socket
    chmod 0777 /data/rilgps.socket
    start ril-daemon
